body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

header {
    width: 100%;
    background-color: black;
    height: 50px;
    color: white;
}

.main-header {
    background: black;
    color: white;
    position: relative;
    z-index: 100;
    height: 40px;
}

.main-header .main-logo {
    font-size: 16px;
    line-height: 40px;
    padding-left: 4px;
    float: left;
    font-weight: bold;
}

.main-header .main-logo a {
    text-decoration: none;
    color:#fff;
}

.main-header .main-logo span {
    color: #38C3AD;
}


.main-nav {
    float: right;
    text-align: right;
    padding-right: 6px;
    padding-left: 12px;
    word-spacing: 2px;
    font-size: 15px;
}

.main-nav li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.main-nav li a {
    color: white;
    line-height: 40px;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.5s color;
}

.main-nav li a:hover {
    color: #27C7AB;
}

.main-nav .main-nav-submenu {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #000;
    padding: 10px 0;
    opacity: 0; /* plynne pokazywanie podmenu - 3 linijki */
    visibility: hidden;
    text-align: left;
    transition: 0.5s opacity;
    z-index: 10000;
}

.main-nav .main-nav-submenu:before {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent; /* rgba(0,0,0,0); */
    border-bottom-color: #000;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0);
}

.main-nav .main-nav-submenu:after {
    content: ''; /* to jest zaslepka by mozna bylo najechac na menu - czemu? - usun ten caly after dla testu */
    position: absolute;
    left: 0;
    top: -15px;
    width: 100%;
    height: 15px;
}

.main-nav li:hover .main-nav-submenu {
    opacity: 1; /* pokazanie menu po najechaniu */
    visibility: visible;
}

.main-nav li:hover > a {
    color: #27C7AB;
}

.main-nav .main-nav-submenu li {
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
}

.main-nav .main-nav-submenu li a {
    height: 30px;
    line-height: 30px;
    text-transform: none;
    font-weight: normal;
    padding: 0 20px;
}

.chair_section {
    background: rgba(245,242,245,1);
    background: -moz-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(245,242,245,1) 51%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,242,245,1)), color-stop(51%, rgba(245,242,245,1)), color-stop(100%, rgba(209,209,209,1)));
    background: -webkit-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(245,242,245,1) 51%, rgba(209,209,209,1) 100%);
    background: -o-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(245,242,245,1) 51%, rgba(209,209,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,242,245,1) 0%, rgba(245,242,245,1) 51%, rgba(209,209,209,1) 100%);
    background: linear-gradient(to bottom, rgba(245,242,245,1) 0%, rgba(245,242,245,1) 51%, rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f2f5', endColorstr='#d1d1d1', GradientType=0 );
    height: 500px;
}

.arrow{
    font-size: 80px;
    text-decoration: none;
    color: #0CCACA;
    line-height: 500px;
    display: block;
}
.left{
    float: left;
}
.chair_section img{
    display: block;
    float: left;
    width: 600px;
    margin-top: 60px;
}

.chair_section__text{
    width: 350px;
    float: left;
    margin-top: 120px;
    text-align: center;
}
.chair_section h1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
}
.chair_section h1>span{
    color: #0CCACA;
}
.chair_section article{
    margin-top: 30px;
    font-size: 15px;
}
.chair_section button{
    border: 0;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    color: white;
    background-color: #0CCACA;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    outline: 0;
}
.right{
    float: right;
}

.boxes{
    height: 250px;
}
.box_clair{
    background-image: url('../images/box1_img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.box_margarita{
    background-image: url('../images/box2_img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.boxes .box{
    width: 375px;
    height: 250px;
    float: left;
    margin: 30px 10px 30px 10px;
}
.text_box{
    border: 1px solid gray;
}
.border{
    border-bottom: 6px solid #0CCACA;
    width: 140px;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
}
.border span{
    text-transform: uppercase;
}
p.border{
    margin: 150px 0 0 10px;
}
.opacity{
    background-color: rgba(255, 255, 255, .5);
    height: 60px;
}
.box__margin{
    margin-top: 15px;
    margin-left: 25px;
}
.text_box>p:nth-of-type(3){
    margin-top: 100px;
}

.section__all_prices {
    background: #F1F1F1;
    margin-top: 100px;
    width: 100%;
    height: 750px;
}
.section__all_prices h2, .section__contact h2 {
    border-bottom: 5px solid #0CCACA;
    width: 300px;
    padding: 50px 0 10px 0;
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.section__contact h2 {
    margin-bottom: 30px;
}
.planType {
    width: 380px;
    height: 500px;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    text-align: center;
    position: relative;
    float: left;
    background: #FFF;
}
.planType:hover, .planType:hover .plan_types {
    background: #0CCACA;
    border: 1px solid #0CCACA;
}
.planType:hover h3 {
    color: #FFF;
}
.planType:hover button, .planType:hover .planType__price {
    background: #FFF;
    color: #0CCACA;
}
.planType:hover .planType__price {
    border: 1px solid #0CCACA;
}
.planType:hover .plan_types::after, .planType:hover .planType_deliveryOptions ul li:nth-of-type(odd) {
    background: #FFF;
}
.planType:nth-of-type(2) {
    margin-left: 27px;
    margin-right: 27px;
}
.planType h3 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 30px;
    color: #0CCACA;
}
.planType__price {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #C2C2C2;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 47px;
    color: #C2C2C2;
    font-weight: 700;
}
.planType__price h5 {
    padding-top: 15px;
    margin-bottom: 80px;
}
.planType__price p {
    font-size: 20px;
    margin-top: 20px;
}

.plan_types {
    border: 1px solid #C2C2C2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: 161px;
    background: white;
}
.plan_types::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    background: #C2C2C2;
    border-radius: 50%;
}
.planType_deliveryOptions ul {
    color: grey;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 40px 0 0 0;
}
.planType_deliveryOptions ul li:nth-of-type(even) {
    line-height: 35px;
    background: #F1F1F1;
}
.planType_deliveryOptions ul li:nth-of-type(odd) {
    line-height: 35px;
    background: #E4E4E4;
}
.section__all_prices button {
    background: #0CCACA;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 115px;
}
.section__all_prices button:hover {
    background: #F1F1F1;
}
input, textarea {
    width: 720px;
    border-radius: 5px;
    border: 1px solid #0CCACA;
    display: block;
    margin: 20px 0;
    font-size: 30px;
    color: #000;
    overflow: hidden;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #E4E4E4;
    font-family: 'Raleway', sans-serif;
}
.form__submit {
    width: 325px;
    margin-left: 75px;
}
.form__user, .form__submit, .footer__copy, .footer__social, .footer__logo {
    float: left;
}
.form__submit img {
    width: 260px;
}
.form__submit p {
    font-size: 16px;
    display: inline-block;
    width: 270px;
    color: #E4E4E4;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]+label {
    height: 30px;
    width: 30px;
    display: inline-block;
    padding: 0;
    border: 1px solid #0CCACA;
    border-radius: 3px;
}
input[type=checkbox]:checked+label {
    background: url('../images/form_ok.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 30px;
    width: 30px;
    display: inline-block;
    padding: 0;
}

.form__submit button {
    background: #0CCACA;
    color: #FFF;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    font-size: 25px;
    font-weight: 700;
    width: 320px;
}
.footer__copy {
    margin: 30px 0;
    width: 880px;
    color: #E4E4E4;
}
.footer__social {
    margin: 30px 0;
    width: 170px;
    position: relative;
}
.footer__logo {
    margin: 30px 0;
    width: 150px;
    text-transform: uppercase;
    text-align: right;
    color: #E4E4E4;
}
.footer__logo span {
    font-weight: 700;
}
